.personajes {
    text-align: center;

    .chrono_img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.chronology{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-y: scroll;
    height: 77vh;
    width: 1300px;
}

.chronology::-webkit-scrollbar {
    width: 4px;
    background-color: #443d3d;
  }



  .chronology::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: white;
    background-clip: content-box;
  }

  .timeline{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

  }

  .btn-chronology{
    border: 2px solid white;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: none;
    color: white;
    text-align: center;
  }

 .contenedor-chronology:nth-child(odd){
    border-top: 2px solid white;
    margin-left: 100%;
    width: 182px;
  }
  .contenedor-chronology:nth-child(even){
    border-top: 2px solid white;
    margin-right: 100%;
    width: 182px;
  }
  .btn-chronology::after {
content: "";
    position: absolute;
    width: 2px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}