body {
  font-family: 'Juego-tronos';
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}